@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f4ece1] text-black font-sans antialiased;
  }
}

/* CONTAINER ESTILO RASCUNHO */
.sketch-border {
  @apply border-[6px] border-black bg-white shadow-[12px_12px_0px_0px_rgba(0,0,0,1)];
}

/* BOTÕES E INPUTS NEO-BRUTALISTAS */
.neo-input {
  @apply bg-transparent border-b-4 border-black outline-none font-black italic uppercase text-3xl py-2 placeholder:opacity-20;
}

/* CALENDÁRIO CUSTOMIZADO */
.fc {
  @apply bg-white p-8 sketch-border rounded-[60px] !important;
}

.fc-daygrid-day-number {
  @apply font-black italic text-6xl opacity-10 p-4 !important;
}

.fc-col-header-cell-cushion {
  @apply font-black uppercase text-xl !important;
}
