@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo Base da Foto 3 */
body {
  @apply bg-[#f4ece1] text-black antialiased font-sans;
}

/* Bordas Grossas e Sombras (Neo-Brutalismo) */
.neo-card {
  @apply border-[6px] border-black bg-white shadow-[12px_12px_0px_0px_rgba(0,0,0,1)];
}

/* Personalização do Calendário Estilo "Bolha" */
.fc-theme-standard .fc-scrollgrid {
  @apply border-[6px] border-black rounded-[40px] overflow-hidden !important;
}

.fc-daygrid-day-number {
  @apply font-black italic text-4xl opacity-10 p-4 !important;
}
