@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f4ece1] text-black font-sans overflow-x-hidden;
  }
}

/* NEO-BRUTALISMO: Bordas de 6px e Sombra Rígida */
.neo-container {
  @apply bg-white border-[6px] border-black shadow-[12px_12px_0px_0px_rgba(0,0,0,1)] rounded-[50px];
}

.neo-input {
  @apply bg-transparent border-b-4 border-black outline-none font-black italic uppercase placeholder:text-gray-300;
}

/* AJUSTE DO CALENDÁRIO PARA FICAR IGUAL AO DESENHO */
.fc {
  @apply bg-white p-6 !important;
  border: 6px solid black !important;
  border-radius: 60px !important;
  box-shadow: 12px 12px 0px 0px black !important;
}

.fc-daygrid-day-number {
  @apply font-black italic text-5xl opacity-5 p-4 !important;
}
