@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definindo os pesos da Causten baseados na sua solicitação */
body {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.font-causten-bold {
  font-family: 'Causten', sans-serif;
  font-weight: 700; /* Negrito para títulos */
}

.font-causten-normal {
  font-family: 'Causten', sans-serif;
  font-weight: 400; /* Normal para informações */
}

/* Scrollbar invisível para o calendário horizontal */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
